/*general info*/

/*elements*/
 

input {
    width: 450px;
    padding: 5px;
    margin: 15px;
    height: 25px;
    background-image: url('images/micSmall.png');
    background-repeat: no-repeat;
    background-position: right;
}

/*classes*/

/*ids*/
#space {
	margin:auto;
}
#logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	padding-top: 200px;
}
#searchBar input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}



